h1{
  text-align: center;
}
.row{
 text-align : center;
margin-top: 100%;
}

/*BOTÕES--------------------------------------------*/
.ButtonBranco {
	background-color:transparent;
	border-radius:7px;
	border:2px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:14px 60px;
	text-decoration:none;
}
.ButtonBranco:hover {
	background-color:transparent;
}
.ButtonBranco:active {
	position:relative;
	top:1px;
}
.ButtonPreto {
	background-color:#000000;
	border-radius:7px;
	border:2px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:14px 60px;
	text-decoration:none;
}
.ButtonPreto:hover {
	background-color:#000000;
}
.ButtonPreto:active {
	position:relative;
	top:1px;
}
/*------------------------------------------------*/

